/************************* header *************************/
.header div {
    font-family: "Poppins", serif;
    font-weight: 500;
}

.header {
    width: 100%;
    min-height: 70px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 20px;
    z-index: 10;
    transition: all ease .5s;
}

.header_on {
    background-color: #FFFFFF;
}

.header.hide {
    transform: translateY(-100%);
}

.nav-sec {
    background: #fff;
    position: fixed;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-sec #gnb .gnb_ul li a, .nav-sec > .dg-l-btn a {
    color: #121212;
}

.header .dg-logo {
    width: 10%;
}

#gnb {
    width: 80%;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.header .gnb {
    width: 80%;
    max-width: 550px;
    transition: all 0.6s;
}

.header .gnb::after {
    content: '';
    width: 100vw;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    transition: height 0.6s;
    z-index: -1;
}

.header .gnb:hover::after {
    height: 140px;
    transition: height 0.5s;
    color: #121212;
}

.gnb .gnb_ul {
    flex-flow: row wrap;
    justify-content: space-between;
}

.gnb .gnb_ul > li {
    position: relative;
    padding: 30px 0;
    flex: 1 0 auto;
}

.gnb .gnb_ul > li > a, .dg-l-btn a {
    font-weight: 500;
    color: #FFFFFF;
}

.gnb .lnb {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    text-align: left;
}

.gnb:hover .lnb {
    width: 100%;
    height: auto;
    margin-top: 5px;
    position: absolute;
    top: 80px;
    left: 0;
    visibility: visible;
    line-height: 2rem;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 9;
    font-weight: 400;
}

.gnb .lnb li {
    position: relative;
    margin-bottom: 5px;
}

.gnb .lnb li:last-child {
    margin-bottom: 0;
}

.gnb .lnb a {
    top: 0;
    left: 0;
    font-size: 14px;
}

.gnb:hover .lnb a {
    color: #222222;
    line-height: 1.5rem;
}

.gnb .gnb_ul .lnb a {
    color: #555;
    transition: all ease .5s;
}

.gnb .gnb_ul .lnb a:hover {
    color: #000000;
}

.gnb .dg-l-btn {
    width: 10%;
}

.header_on .gnb {
    max-width: 720px;
}

.header_on .gnb li a, .header_on .dg-l-btn a {
    color: #121212;
}

/************************* main1 *************************/

.main1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main1 video {
    width: 100%;
}

@media (max-width: 768px) {
    .main1 video {
        height: 600px;
        object-fit: cover;
    }
}

/************************* main2 *************************/

.main2 {
    height: 100%;
}

.main2 .main2_con {
    padding: 8% 5%;
}

.main2_con p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5%;
}

.main2_con h2 {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Poppins", serif;
}

@media (max-width: 1300px) {
    .main2_con p {
        font-size: 1.2rem;
    }

    .main2_con h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1080px) {
    .main2_con p {
        font-size: 1.1rem;
    }

    .main2_con h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .main2_con p {
        font-size: 1rem;
    }

    .main2_con h2 {
        font-size: 2rem;
    }
}

/************************* main3 *************************/

.main3 {
    height: 100%;
}

.main3_con {
    padding: 10% 5%;
    justify-content: space-between;
    flex-flow: row wrap;
    background: linear-gradient(135deg, rgba(0, 161, 233, 1) 0%, rgba(255, 204, 0, 1) 100%);;
}

.main3_con li {
    color: #FFFFFF;
}

.main3_con li h3 {
    font-size: 4rem;
}

.main3_con li p {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1300px) {
    .main3_con li h3 {
        font-size: 3.5rem;
    }

    .main3_con li p {
        font-size: 1.8rem;
    }
}

@media (max-width: 1080px) {
    .main3_con {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .main3_con li {
        text-align: center;
        margin-bottom: 5%;
    }

    .main3_con li:last-child {
        margin-bottom: 0;
    }

    .main3_con li h3 {
        font-size: 3rem;
    }

    .main3_con li p {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .main3_con li h3 {
        font-size: 2.6rem;
    }

    .main3_con li p {
        font-size: 1.4rem;
    }
}

/************************* main4 *************************/

.main4 {
    height: 100%;
    padding: 5% 0;
    text-align: center;
}

.main4 .tac {
    font-size: 3.8rem;
}

.main4 .swiper-sec {
    width: 100%;
}

.main4 .swiper-sec .mySwiper {
    width: 100%;
    height: 100%;
    padding: 85px 100px;
}

.main4 .swiper-sec .swiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.main4 .swiper .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    box-shadow: 7px 7px 20px 0 rgba(64, 64, 64, 0.1);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
}

.swiper-slide a {
    display: block;
    padding: 60px 0;
}

.swiper-slide a div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1rem;
}

.swiper-slide img {
    width: 100%;
    max-width: 110px;
    height: auto;
    margin: 0 auto;
}

.swiper-slide a div h3, .swiper-slide a div p {
    margin: 10px 0;
}

.swiper-slide a div h3 {
    margin-top: 40px;
}

.dg-slogan {
    margin-bottom: 30px;
}

.dg-slogan img {
    width: 70%;
    max-width: 476px;
}

.v-btn {
    width: 180px;
    height: 45px;
    padding: 10px 50px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    background-color: #232323;
    border-radius: 30px;
}

.v-btn:hover {
    background-color: #ea002b;
}

@media (max-width: 1300px) {
    .main4 .tac {
        font-size: 3rem;
    }

    .main4 .swiper-sec .mySwiper {
        padding: 60px 100px;
    }

    .v-btn {
        padding: 10px 40px;
        font-size: 0.9rem;
    }
}

@media (max-width: 1080px) {
    .main4 .tac {
        font-size: 2.5rem;
    }

    .main4 .swiper-sec .mySwiper {
        padding: 50px 100px;
    }
    .v-btn {
        padding: 10px 30px;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .main4 .tac {
        font-size: 2rem;
    }

    .main4 .swiper-sec .mySwiper {
        padding: 40px 80px;
    }
    .v-btn {
        padding: 10px 25px;
        font-size: 0.7rem;
        font-weight: 500;
    }
}

/************************* footer *************************/

.footer-con {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 0.8rem;
}

.footer-con .flx {
    justify-content: space-between;
}

.footer-con .footer-left .footer-logo {
    margin: auto 0;
}

.footer-con .footer-left .footer-txt p {
    font-weight: 200;
}

.footer-con .footer-left .footer-txt .flx {
    justify-content: left;
}

.footer-con .footer-left .footer-txt .flx li {
    margin-right: 5px;
}

.footer-con .footer-right {
    text-align: right;
}